h1 {
    color: rgb(0, 0, 0);
}

.header {
    background-color: rgb(9, 24, 240);
    display:flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display:flex;
    justify-content: flex-end;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}